*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

nav{
    background: #1B6EC0;
    padding: 10px 0;
}

.nav-logo-box{
    display: flex;
    justify-content: space-between;
}
.nav-logo-box h3{
    display: inline-block;
    width: 200px;
    color: #fff;
    padding: 15px;
    font-size: 18px;
}
.nav-logo-box img{
    width: 100px;
    height: 100px;
}

.nav-text-box{
    max-width: 600px;
    width: auto;
    color: #fff;
    margin-left: -100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-text-box .p1{
    font-size: 22px;
    font-weight: 400;
}

.nav-text-box .p2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.nav-text-box .p3{
    font-size: 22px;
    font-weight: 400;
}

.nav-btn-box{
    align-content: center;
}
.nav-btn-box button{
    background: none;
    padding: 5px 45px;
    border: 2px solid #fff;
    font-size: 22px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}

.class{
    background: #CACACA;
}
.center-text-box{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.center-text-box span{
    font-size: 24px;
    color: #093663;
    font-weight: 500;
}

.form-control, .form-select{
    border: 1px solid #2AABEE !important;
}



.btn-submit{
    margin: auto;
    display: block;
    width: 400px;
    padding: 10px;
    border:1px solid #1B6EC0;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #1B6EC0;
    color: #fff;
    transition: all .2s;
}
.btn-submit:hover{
    background: #0d5092;
    transition: all .2s;
}

.Modal-text{
    display: inline-block;
    width: auto;
    transform: translate(580px, 15px);
    font-size: 18px !important;
}



/*******************************************************/
.cont-footer{
    background: #1B6EC0;
}

footer{
    width: 100%;
    height: auto;
}

.footer-row{
    height: 200px;
}
.footer-col{
    padding: 20px ;
    display: flex;
}
.footer-col img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
.footer-col p{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    color: #fff;
    margin-left: 10px;
    /* border: 1px solid red; */
}

.info{
    padding: 20px;
    position: relative;
}
.info .title-info{
    text-transform: uppercase;
    color: #fff;
    font-size: 15px !important;
    padding-bottom: 5px !important;
    border-bottom: 2px solid #2FCE77;
}
.line{
    width: 100%;
    height: 2px;
    margin: 5px;
}

.info span{
    color: #fff;
    font-size: 13px !important;
    font-weight: 200;
    margin-top: 20px;
}
.title-span{
    margin-left: 35px;

}
.link{
    text-decoration: none !important;
    position: relative;
}
.link span{
    margin-left: 35px;
}
.img-icon{
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    left: 0;
    top: -25px;
}
.img-icon-2{
    width: 20px !important;
    height: 20px !important;
    margin: 10px 0!important;
    margin-right: 40px !important;
}