{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class="main mb-5">
    <div class="container">
      
      <div class="box-login">
          <p>REKTORI ELEKTRON QABULXONASI</p>
          
          <form method="post">{% csrf_token %}
              <div class="box-input">
                  <span>Login</span>
                  {{ form.username }}
              </div>
              <div class="box-input mt-2">
                  <span>Password</span>
                  {{ form.password }}
              </div>
              <button class="login-btn" type="submit"><span>Tizimga Kirish</span></button>
          </form>
          
          <center>
              <h6>Bu Sahifaga faqat Admin kiroladi</h6>
          </center>
      </div>

    </div>


 

  </section>
  
{% endblock content %}
